global
  stats socket /tmp/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 debug

defaults
  mode http
  timeout connect 30s
  timeout client 60s
  timeout server 6000s
  timeout http-request 60s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend jahiahaproxy.net
  bind :8080
  default_backend webservers
  log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %sslv %sslc %ssla %t"
  option httplog

backend webservers
  mode http
  balance source
  http-response set-header X-Server %s
  cookie JSESSIONID prefix nocache
  server jahia jahia:8080 check cookie jahia
  server jahia-browsing-a jahia-browsing-a:8080 check cookie jahia-browsing-a
  server jahia-browsing-b jahia-browsing-b:8080 check cookie jahia-browsing-b
