# Environment variables play a big role in the entire setup
# Debugging can be a strong pain in the absence of a clear and consistent naming convention for environment variables.
# To simplify debugging two types of prefix will be used:
# J_ for environment variables not aimed at being secret (jahia version, image, manifest, etc.)
# J_ for environment variables that are secret (license, super user password, nexus)
# Debugging/logging mechanisms will be there to facilitate the debugging of the environment variables 
# (e.g. a command to print all J_ variables but not J_ will only have its 2 first and last 
# characters visible, the rest being replaced by three asterisks)

# The overall format for environment variables is as follows:
# J_<SERVICE>_<VARIABLE_NAME> or J_<SERVICE>_<VARIABLE_NAME>

# Secrets associated with the jahia.yml container
J_JAHIA_IMAGE=${J_JAHIA_IMAGE:-jahia/jahia-ee:8}
J_JAHIA_DB_VENDOR=${J_JAHIA_DB_VENDOR:-postgresql}
J_JAHIA_DB_HOST=${J_JAHIA_DB_HOST:-database}
J_JAHIA_DB_NAME=${J_JAHIA_DB_NAME:-jahia}
J_JAHIA_DB_USER=${J_JAHIA_DB_USER:-jahia}
J_JAHIA_DB_PASS=${J_JAHIA_DB_PASS:-jahia}
J_JAHIA_LICENSE=${J_JAHIA_LICENSE:-}
J_JAHIA_SUPER_USER_PASSWORD=${J_JAHIA_SUPER_USER_PASSWORD:-root1234}
J_JAHIA_CLUSTER_ENABLED=${J_JAHIA_CLUSTER_ENABLED:-false}
J_JAHIA_NEXUS_USERNAME=${J_JAHIA_NEXUS_USERNAME:-}
J_JAHIA_NEXUS_PASSWORD=${J_JAHIA_NEXUS_PASSWORD:-}

# Secrets associated with the containers defined in jahia-browsing-a.yml, jahia-browsing-b.yml and jahia-browsing-c.yml
# re-use the same variables than the jahia.yml container

# Secrets associated with the postgres.yml container
J_POSTGRES_IMAGE=${J_POSTGRES_IMAGE:-postgres:18-alpine}
J_POSTGRES_DB=${J_POSTGRES_DB:-jahia}
J_POSTGRES_USER=${J_POSTGRES_USER:-jahia}
J_POSTGRES_PASSWORD=${J_POSTGRES_PASSWORD:-jahia}

# Secrets associated with the mariadb.yml container
J_MARIADB_IMAGE=${J_MARIADB_IMAGE:-library/mariadb:latest}
J_MARIADB_DATABASE=${J_MARIADB_DATABASE:-jahia}
J_MARIADB_ROOT_PASSWORD=${J_MARIADB_ROOT_PASSWORD:-root1234}
J_MARIADB_USER=${J_MARIADB_USER:-jahia}
J_MARIADB_PASSWORD=${J_MARIADB_PASSWORD:-jahia}

# Secrets associated with the elastricsearch.yml container
J_ELASTICSEARCH_IMAGE=${J_ELASTICSEARCH_IMAGE:-ghcr.io/jahia/elasticsearch:9}
J_ELASTICSEARCH_ELASTIC_USERNAME=${J_ELASTICSEARCH_ELASTIC_USERNAME:-elastic}
J_ELASTICSEARCH_ELASTIC_PASSWORD=${J_ELASTICSEARCH_ELASTIC_PASSWORD:-password}
J_ELASTICSEARCH_JAVA_OPTS=${J_ELASTICSEARCH_JAVA_OPTS:--Xms2g -Xmx2g}
J_ELASTICSEARCH_KIBANA_IMAGE=${J_ELASTICSEARCH_KIBANA_IMAGE:-ghcr.io/jahia/kibana:9}

# Secrets associated with the cypress.yml container
J_CYPRESS_IMAGE=${J_CYPRESS_IMAGE:-jahia/jahia-modules-tests:latest}
J_CYPRESS_TESTS_PROFILE=${J_CYPRESS_TESTS_PROFILE:-}
J_CYPRESS_MANIFEST=${J_CYPRESS_MANIFEST:-provisioning-manifest-snapshot.yml}
J_CYPRESS_JAHIA_URL=${J_CYPRESS_JAHIA_URL:-http://jahia:8080}
J_CYPRESS_JAHIA_USERNAME=${J_CYPRESS_JAHIA_USERNAME:-}
J_CYPRESS_JAHIA_PASSWORD=${J_CYPRESS_JAHIA_PASSWORD:-}
J_CYPRESS_NEXUS_USERNAME=${J_CYPRESS_NEXUS_USERNAME:-}
J_CYPRESS_NEXUS_PASSWORD=${J_CYPRESS_NEXUS_PASSWORD:-}
J_CYPRESS_JAHIA_SUPER_USER_PASSWORD=${J_CYPRESS_JAHIA_SUPER_USER_PASSWORD:-root1234}

# Secrets associated with the jcustomer-*.yml containers
J_JCUSTOMER_IMAGE=${J_JCUSTOMER_IMAGE:-ghcr.io/jahia/jcustomer-dev:3-SNAPSHOT}
J_JCUSTOMER_UNOMI_ROOT_PASSWORD=${J_JCUSTOMER_UNOMI_ROOT_PASSWORD:-jcustomerP@55}
J_JCUSTOMER_MAXMIND_KEY=${J_JCUSTOMER_MAXMIND_KEY:-}

# Secrets associated with the mailpit.yml container
J_MAILPIT_IMAGE=${J_MAILPIT_IMAGE:-axllent/mailpit:latest}

# Secrets associated with the openldap.yml container
J_OPENLDAP_IMAGE=${J_OPENLDAP_IMAGE:-ghcr.io/jahia/docker-openldap:latest}

# Other environment variables
CYPRESS_MODE=${CYPRESS_MODE:-ci}
CYPRESS_CONFIGURATION_FILE=${TESTS_PROFILE:-cypress.config.ts}
JAHIACLI_CONFIG=${JAHIACLI_CONFIG:-jahia-cli.config.yml}
